.header {
  background: rgba(51, 51, 51, 0.4);
  backdrop-filter: blur(30px);
  padding-top: 10px;
  padding-bottom: 9px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 980;

  &.active {
    background: none;
    backdrop-filter: none;
  }

  &__container {
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr auto;

    @media (min-width: 36em) {
      grid-template-columns: auto 1fr auto;
      gap: 60px;
    }
  }

  &__link {
    &.active {
      opacity: 0;
    }
  }

  &__social {
    position: relative;
    padding-left: 1px;

    &.active {
      opacity: 0;
    }

    @media (max-width: 35.9375em) {
      display: none;
    }

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 50px;
      background: var(--white);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-30px, -50%);
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      color: var(--white);
      transition: hover 0.3s;

      &:hover {
        color: var(--whiteTwo);
      }
    }
  }
}
