.aboutIntro {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  &__title {
    margin-bottom: 28px;
  }

  &__text {
    margin-bottom: 44px;
  }

  &__button {
    margin: 0 auto 60px;
  }

  &__backgroud {
    background: linear-gradient(
      var(--white) 0 35%,
      var(--brown) 35% 65%,
      var(--white) 65% 100%
    );
  }
}

.aboutStory {
  padding-top: 112px;
  padding-bottom: 63px;
  background: var(--whiteTwo);
  position: relative;
  z-index: 1;

  &__container {
    display: grid;
    gap: 30px;

    @media (min-width: 62em) {
      align-items: flex-start;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 75em) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__images {
    position: relative;

    @media (max-width: 61.9375em) {
      display: none;
    }

    @media (min-width: 75em) {
      grid-column: 1 / 8;
    }
  }

  &__imageOne {
    @media (max-width: 61.9375em) {
      display: none;
    }

    @media (min-width: 62em) {
      position: absolute;
      width: 616px;
      z-index: -1;
      left: 50%;
      bottom: 177px;
      transform: translateX(calc(-50% - 650px));
    }

    @media (min-width: 75em) {
      bottom: 177px;
    }
  }

  &__imageTwo {
    margin: 51px 0 0 auto;

    @media (min-width: 75em) {
      margin: 51px 100px 0 auto;
    }
  }

  &__content {
    text-align: center;

    @media (min-width: 62em) {
      text-align: right;
    }

    @media (min-width: 75em) {
      grid-column: 8 / 13;
    }
  }

  &__title {
    margin-bottom: 28px;
  }

  &__text {
    margin-bottom: 36px;
    max-width: 572px;
    margin-left: auto;

    @media (max-width: 61.9375em) {
      margin-right: auto;
    }
  }

  &__button {
    margin-left: auto;

    @media (max-width: 61.9375em) {
      margin-right: auto;
    }
  }
}
