.contact {
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: grid;
    gap: 30px;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__form {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;

    @media (min-width: 992px) {
      grid-column: 1 / 6;
    }

    @media (min-width: 1200px) {
      grid-column: 1 / 5;
    }
  }

  &__input {
    position: relative;

    label {
      position: absolute;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      color: var(--gray);
      padding: 2px 10px;
      top: 0;
      left: 14px;
      transform: translateY(-50%);
      background: var(--white);
    }

    input,
    select,
    textarea {
      display: block;
      width: 100%;
      appearance: none;
      outline: 0px;
      resize: none;
      border: 2px solid var(--grayTwo);
      padding: 15px 22px 13px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.4;
      color: var(--black);

      &::placeholder {
        color: var(--gray);
      }
    }

    input,
    select {
      margin-bottom: 40px;
    }

    textarea {
      height: 167px;
      margin-bottom: 20px;
    }
  }

  &__content {
    @media (min-width: 992px) {
      grid-column: 6 / 13;
    }
  }

  &__list {
    margin-top: 40px;
    display: grid;
    gap: 24px;
    max-width: 518px;
  }

  &__item {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: auto 1fr;
    font-size: 30px;
    color: var(--black);

    &--whatsapp {
      color: var(--green);
    }
  }
}
